:root{
    --card-bg-col : #00ffff;
    --body-bg-color : rgb(245, 238, 238);
    --txt-color : black;
}

/* Variable declared in below body class are for dark theme */
/* Once this theme is applied to body it will override root element variable value */

.darktheme{
   
    --card-bg-col : #3f11e2;
    --body-bg-color : rgb(51, 48, 53);
    --txt-color : white;
   
}
